@font-face {
    font-family: "Outfit";
    src: local("Outfit Bold"), url(../fonts/Outfit-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit Medium"), url(../fonts/Outfit-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit Regular"), url(../fonts/Outfit-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit Light"), url(../fonts/Outfit-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit Thin"), url(../fonts/Outfit-Thin.ttf);
    font-weight: 100;
}